html {
  scroll-behavior: smooth;
}


body {
	font-family: 'Lato';
	background-color: #CCC ; /* url(dark.png) no-repeat; */
	text-align:left;
	float: left;
	margin: 0;
	width: 100%;
}

head {

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ************* Banner start *********** */

* {box-sizing: border-box;}

.avatar {
	width:100%;
	height:150px;
	float: left;
	filter: grayscale(70%);
	opacity: 0.9;
  	object-fit: cover;
	position: sticky;
	
}

.banner {
	width: 100%;
	height: 50px;
	float: left;
	position: sticky;
	top: 0;
	background-image: linear-gradient(silver, lightgray, silver);
	z-index: 1000; /* Big number to stay on top */

}


.nametag {
	width:50%;
	height: 50px;
	float:left;
	font-family: Lato;
	color: blue;
	background-image: linear-gradient(silver, lightgray, silver);
	text-decoration: none; 
	overflow:hidden;
	
}
@media screen and (min-width: 1200px) {
  div.nametag {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  div.nametag {
    font-size: 2vw;
  }
}
.options { 
	width: 50%;
	height: 50px;
	float: left;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	background-image: linear-gradient(silver, lightgray, silver);
}

.options a {
	width: 20%;
	height: 50px;
	float: left;
	font-family: Lato;
	font-size: 20px;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	color: black;
	text-decoration: none; 

}

.options a:hover {
	color: white;
	background-color: #aaa;
}
	

.options a.active { 
	font-weight: bold;
	color: white;
	background-color: #ddd;
}

/* ************* Banner end *********** */



.aristera { 
	width: 20%;
    height: 1500px;
    float: left;
	background-image: linear-gradient(to left, #eee, #808080);
}

.kentro { 
	width: 60%;
    height: 1500px;
    float: left;
	text-align: center;
	background-image: linear-gradient(to left, #eee, white, #eee);
}


.dexia {
	width: 20%;
    height:1500px;
    float: left;
	background-image: linear-gradient(to left, #808080, #eee);
}

.row{
	width:100%;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
	text-align: justify;

}

.row1{
	width:100%;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */

}



.big-text{
	font-size: 24px;
}

.bio{
	width:100%;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
	background-image: linear-gradient(to left, #eee, white, #eee);

}

.bio_left{
	width: 30%;
    height:350px;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
	justify-content: center; /* Horizontal center */

}

.bio_left img {
	width: 80%;
	border: 1px solid #000;
	border-radius: 0% 40% 0% 40%;
	box-shadow: -10px 10px 20px #ddd;
	text-decoration: none;
}


.bio_right{
	width: 70%;
    height:350px;
    float: left;
	overflow: auto;
	display: flex;
	align-items: center;     /* Vertical center */
	font-size: 18px;
	text-align:left;
	text-align: justify;
	padding-right: 50px;
	padding-left: 20px;
}

.section{
	width: 100%;
	height: 40px;
	font-family: Lato;
	font-size: 28px;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	text-align: center;
}

.intro1{
	width: 30%;
    height:100px;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
}
.intro2{
	width: 70%;
    height:100px;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
	font-size: 18px;
	text-align:left;
	text-align: justify;
	padding-left: 10px;
}

.footer {	
    width: 100%;
	height: 25px;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	color: white;
	font-size: 12px;
	background-image: radial-gradient(#000000, #505050);
	margin-bottom: 20px;
}


