html {
  scroll-behavior: smooth;
}


body {
	font-family: 'Lato';
	background-color: #CCC ; /* url(dark.png) no-repeat; */
	text-align:left;
	float: left;
	margin: 0;
	width: 100%;
}

head {

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ************* Banner start *********** */

* {box-sizing: border-box;}

.avatar {
	width:100%;
	height:150px;
	float: left;
	filter: grayscale(70%);
	opacity: 0.9;
  	object-fit: cover;
	position: sticky;
	
}

.banner {
	width: 100%;
	height: 50px;
	float: left;
	position: sticky;
	top: 0;
	background-image: linear-gradient(silver, lightgray, silver);
	z-index: 1000; /* Big number to stay on top */	
}


.nametag {
	width:50%;
	height: 50px;
	float:left;
	font-family: Lato;
	color: blue;
	background-image: linear-gradient(silver, lightgray, silver);
	text-decoration: none; 
	overflow:hidden;
	
}
@media screen and (min-width: 1200px) {
  div.nametag {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  div.nametag {
    font-size: 2vw;
  }
}
.options { 
	width: 50%;
	height: 50px;
	float: left;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	background-image: linear-gradient(silver, lightgray, silver);
}

.options a {
	width: 20%;
	height: 50px;
	float: left;
	font-family: Lato;
	font-size: 20px;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	color: black;
	text-decoration: none; 

}

.options a:hover {
	color: white;
	background-color: #aaa;
}
	

.options a.active { 
	font-weight: bold;
	color: white;
	background-color: #ddd;
}

/* ************* Banner end *********** */



.aristera { 
	width: 20%;
    height: 2000px;
    float: left;
	background-image: linear-gradient(to left, #eee, #808080);
}

.kentro { 
	width: 60%;
    height: 2000px;
    float: left;
	text-align: center;
	background-image: linear-gradient(to left, #eee, white, #eee);
	z-index: 500;
}


.dexia {
	width: 20%;
    height:2000px;
    float: left;
	background-image: linear-gradient(to left, #808080, #eee);
}


.footer {	
    width: 100%;
	height: 25px;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
	color: white;
	font-size: 12px;
	background-image: radial-gradient(#000000, #505050);
	margin-bottom: 20px;
}



.row1{
	width:100%;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */

}


.intro1{
	width: 30%;
    min-height:150px;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
   	justify-content: center; /* Horizontal center */
}

.intro1 img {
	transition:1s;
	width: 80%;
	text-decoration: none;
}
.intro1 img:hover {
	transform: scale(1.1);
	z-index: 500;	
	
}

.intro1 iframe {
	float:center;
	margin: auto;
	text-decoration: none;
}



.intro2{
	width: 70%;
    min-height:150px;
    float: left;
	display: flex;
	align-items: center;     /* Vertical center */
	font-size: 18px;
	text-align:left;
	text-align: justify;
	padding-left: 10px;
}



#youtube {
	font-size: 20px;
	text-align: center;
	border: 2px solid green;
	background-color: #800000;
}

#humour {
	width: 100%;
	font-size: 30px;
	color: green;
	background-color: #EEE;
}




